<h1>Lista de Juegos</h1>    
<mat-form-field class="col-md-6">
    <mat-label>Filtrar por numero de comision </mat-label>
       
  
</mat-form-field>

<div class="row">
    <div *ngFor="let torneo of torneos" class="col-md-3">

    <mat-card>
        <mat-card-header> 
            <mat-card-title>{{ torneo.juego }} </mat-card-title>
            <mat-card-subtitle>{{torneo.modalidad}}  </mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image [src]="torneo.imagen">

        <mat-card-content>
            <p>Juego: {{torneo.juego}} </p>
            <p>Modalidad: {{torneo.modalidad}} </p>
            <p>Fecha de Inicio: {{torneo.fechaInicio}} </p>
            <p>Finaliza: {{torneo.fechaFin}} </p>
            <p [appBooleanoEstilo]="torneo.inscripcionAbierta"> {{torneo.inscripcionAbierta | booleanoATexto: 'Inscripcion abierta' : 'Sin vacantes' }}</p>
        </mat-card-content>

        <mat-card-actions>
            <button mat-icon-button color="primary">
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button color="primary">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-actions>

    </mat-card>
</div>
